* {
    margin: 0;
    padding: 0;
}
main {
    
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 22);
    width: 400px;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.title {
    display: flex;
    justify-content: center;
    font-family:sans-serif ;
    font-size: 30px;
    border-bottom: 3px solid black;
    width: 12em;
    border-radius: 10px;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
    
}

.input input {
    width: 200px;
    height: 50px;
    border-radius: 3px;
    border: none;
    outline: 0;
    font: bold 1.5rem serif;
    text-align: center;

}

label {
    font: bold 1.5rem serif;
}

button {
    width: 300px;
    height: 40px;
    background-color: black;
    font: bold 1.2rem serif;
    color: rgba(245, 198, 0);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.result {
    display: flex;
    margin-top: 20px;
    width: 300px;
    height: 200px;
    background-color: black;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    font: italic 1.5rem serif;
    color: rgb(245, 198, 0); 
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
}